name: cesi_projet_rencontre
description: A Flutter app with Laravel JWT authentication
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.5
  flutter_secure_storage: ^8.0.0
  vibration: ^3.1.3
  image_picker: ^1.0.7


dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
